<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <title>Success 😎</title>
</head>
<body>
    <div style="text-align: center; width: 600px; background-color: #ffff; border-radius: 10px; padding: 20px; margin: 10px">
        <h1 style="color: #435F87; text-align: center;">Message Received!</h1>
        <h3 style="color: black"></small><a href="/">click here</a> to go back</h3>
    </div>
</body>
</html>
